<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
    
        <%- include('partials/navbar', {page: ''}) %>



        <div class="container mx-auto px-4 max-w-3xl">
          <div class="hero bg-base-300 py-4 rounded-lg">
              <div class="hero-content text-center">
                  <div class="max-w-md mx-auto">
                      <h1 class="text-3xl font-bold mb-2 text-gray-100"> <%= set.name %> </h1>
                      <p class="text-sm mb-4 text-gray-300">
                          Below, you will find detailed information about the set: <%= set.name %>
                      </p>
                  </div>
              </div>
          </div>
          
          <div class="flex justify-center my-4">
              <img class="w-[75%] max-w-xs rounded-md shadow-md" src="<%= set.img_url %>" alt="set image">
          </div>
      
          <div class="p-4 rounded-lg text-gray-300">
              <p><strong>Set Name:</strong> <%= set.name %></p>
              <p><strong>Year Released:</strong> <%= set.year %></p>
              <p><strong>Theme:</strong> <%= set.theme %></p>
              <p><strong>Number of Parts:</strong> <%= set.num_parts %></p>
          </div>
      
          <div class="my-4 p-4 rounded-lg text-gray-300">
              <strong>Quote:</strong> 
              <blockquote id="qte" class="underline italic text-sm mt-1"></blockquote>
              <p id="auth" class="text-right text-xs"></p>
          </div>
      
          <div class="my-4 flex justify-center">
              <a href="#" onclick="history.back(); return false;" class="btn btn-sm btn-error">Return</a>
          </div>
      </div>
      
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            fetch('https://quotable.io/random')
            .then((value)=>value.json()) 
            .then((data)=>{
                document.getElementById('qte').textContent = data.content
                document.getElementById('auth').textContent = data.author
            })
            .catch(error => console.error("Error fetching quote:", error));
        })
        </script>
      

</body>
</html>